footer{
    position:fixed;
    bottom:0;
    background-color: #fff;
}

.nav-wrap-link{
    display: flex;
    gap: 14px;
    padding: 0 6px 0;
    border-top: 1px solid #DBDBDB;
}

.link-other-page{
    width: 84px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding:15px 0 6px;
    box-sizing: border-box;
}

.link-other-page em{
    text-align: center;
    font-size: 10px;
}

.link-img{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0 auto;
}


.link-img.home{
    background-image: url(../images/icon-home.png);
}
.link-img.home.this-page{
    background-image: url(../images/icon-home-fill.png);
    color: #F26E22;
}
.link-img.home.this-page+em{
    color: #F26E22;
}


.link-img.chat{
    background-image: url(../images/icon-message.png);
}
.link-img.chat.this-page{
    background-image: url(../images/icon-message-fill.png);
    color: #F26E22;
}
.link-img.chat.this-page+em{
    color: #F26E22;
}

.link-img.write{
    background-image: url(../images/icon-post-add.png);
}

.link-img.profile{
    background-image: url(../images/icon-profile.png);
}
.link-img.profile.this-page{
    background-image: url(../images/icon-profile-fill.png);
    color: #F26E22;
}
.link-img.profile.this-page+em{
    color: #F26E22;
}

.link-img.img-profile{
    background-image: url(../images/icon-profile.png);
}
.link-img.img-profile.this-page{
    background-image: url(../images/icon-profile-fill.png);
    color: #F26E22;
}
.link-img.img-profile.this-page+em{
    color: #F26E22;
}