* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 390px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    overflow-y: scroll;
}

.container {
    height: 100vh;
    width: 390px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* outline: #767676 solid 1px; */
}
.statusBar {
    width: 390px;
    height: 24px;
    background-color: #dbdbdb;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 0 8px 0;
}
.statusBarLeft {
    justify-content: space-around;
}

.statusBarLeft img {
    margin-left: 6px;
}

.headerNav {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 16px;
    justify-content: space-between;
    width: 390px;
}
h2 {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.search {
    display: flex;
    width: 24px;
    height: 24px;
}

.search img {
    position: absolute;
    width: 24px;
}

main {
    /* display: flex; */
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 16px;
    /* overflow: hidden; */
}

.noFeed {
    display: block;
    margin-top: 30vh;
}
main li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

h3 {
    display: flex;
    width: 181px;
    height: 18px;
    /* text-align: center;
    justify-content: center; */
    /* margin-top: 20px; */
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #767676;
    margin-bottom: 2px;
}

.searchBtn {
    margin-top: 20px;
    padding: 13px 33px;
    background-color: #f26e22;
    border-radius: 44px;
    color: #ffffff;
}
.post {
    padding: 70px 0;
    height: 100%;
    /* overflow: hidden; */
}
.postCont {
    display: flex;
    width: 100%;
}

.usrImg {
    width: 42px;
}

.postOne {
    display: block;
    margin-left: 12px;
    margin-bottom: 20px;
}

.usrName {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #000000;
}

.usrSubName {
    color: #767676;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    margin-top: 10px;
}

.postTxt {
    display: block;
    width: 304px;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin-top: 16px;
}

.postImg {
    margin-top: 16px;
    width: 100%;
    height: 228px;
    border: 0.5px solid #dbdbdb;
    border-radius: 10px;
    object-fit: cover;
}

.like,
.commentBtn {
    border: none;
    background-color: transparent;
}
.commentIcon {
    width: 20px;
    height: 20px;
}

.like {
    background-image: url(../images/icon-heart.png);
    background-size: 20px;
    width: 20px;
    height: 20px;
}

.like[data-hearted='true'] {
    background-image: url(../images/icon-heart-fill.png);
    background-size: 20px;
    width: 20px;
    height: 20px;
}

.usrImg {
    border-radius: 100%;
    width: 42px;
    height: 42px;
}

.reaction {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-top: 12px;
}

.reaction span {
    font-size: 12px;
    color: #767676;
    line-height: 12px;
    font-weight: 400;
    margin-left: 7.8px;
    margin-right: 18px;
}

.postDate {
    font-size: 10px;
    color: #767676;
    margin-top: 18px;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 60px;
    width: 390px;
}

footer li {
    list-style: none;
}

footer a {
    list-style: none;
    line-height: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
a {
    text-decoration: none;
}

footer a img {
    width: 24px;
    height: 24px;
    margin-bottom: 6px;
}

footer a span {
    color: #767676;
    font-size: 10px;
    font-weight: 400;
}
