* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.statusBar{
    position: relative;
    width: 390px;
    height: 24px;
    background-color: #dbdbdb;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 0 8px 0;
}
.statusBarLeft {
    justify-content: space-around;
}
.statusBarLeft img {
    margin-left: 6px;
}

.container {
    width: 390px;
    outline: 1px solid #767676;
    height: 100vh;
}

h1 {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    line-height: 30.05px;
    /* padding: 54px 162px; */
    margin: 54px 161px 40px;
}

.idEmail {
    position: relative;
    height: 48px;
    margin: 16px 34px;
}

#idEmailInput {
    width: 322px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #767676;
    padding: 10px 0 8px 0;
}

#idEmailInput:focus {
    border-bottom: 1px solid #F26E22;
}

label {
    position: relative;
    font-size: 12px;
    font-weight: 500;
    color: #767676;
}
.pw {
    position: relative;
    height: 48px;
    margin: 16px 34px;
}

#loginPWInput {
    width: 322px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #767676;
    padding: 10px 0 8px 0;
}

#loginPWInput:focus {
    border-bottom: 1px solid #F26E22;
}
.submit {
    margin: 30px 34px 20px;
}

#submitBtn {
    position: relative;
    width: 322px;
    height: 44px;
    border: 1px solid#f26e22;
    background: #f26e22;
    border-radius: 44px;
    color: #ffff;
    font-size: 14px;
    line-height: 17.53px;
}

.signupEmail {
    margin: 0 149px;
    width: 92px;
}

.signupEmail a {
    font-size: 12px;
    text-decoration: none;
    color: #767676;
}
