* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 390px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statusBar {
    position: relative;
    width: 390px;
    height: 24px;
    background-color: #dbdbdb;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 0 8px 0;
}
.statusBarLeft {
    justify-content: space-around;
}
.statusBarLeft img {
    margin-left: 6px;
}

.container {
    width: 390px;
    outline: 1px solid #767676;
    height: 100vh;
    background-size: contain;
    background: #ea7f42;
}

.loginBtn {
    text-decoration: none;
    outline: tomato;
}

h1 {
    display: flex;
    justify-content: center;
}

h1 img {
    width: 144px;
    position: absolute;
    top: 20%;
}

.login {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 390px;
    height: 320px;
    padding: 50px 34px 0 34px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
li {
    list-style: none;
}

li a {
    display: block;
    text-decoration: none;
    position: relative;
    /* border: 1px solid #f2c94c; */
    text-align: center;
    padding: 13px 0;
    color: #767676;
    font-size: 14px;
    line-height: 18px;
    width: 322px;
    height: 44px;
    border-radius: 44px;
    margin-bottom: 10px;
}

.kakaoLogin {
    border: 1px solid #f2c94c;
}

.googleLogin {
    border: 1px solid #767676;
}

.facebookLogin {
    border: 1px solid #2d9cdb;
}

.kakaoLogin::before {
    position: absolute;
    content: '';
    background: url(../images/logo-kakaotalk.png) no-repeat center;
    background-size: 100%;
    width: 18px;
    height: 18px;
    left: 17px;
}

.googleLogin::before {
    position: absolute;
    content: '';
    background: url(../images/logo-google.png) no-repeat center;
    background-size: 100%;
    width: 18px;
    height: 18px;
    left: 17px;
}

.facebookLogin::before {
    position: absolute;
    content: '';
    background: url(../images/logo-facebook.png) no-repeat center;
    background-size: 100%;
    width: 18px;
    height: 18px;
    left: 17px;
}

.loginBottom {
    font-size: 12px;
    font-weight: 15px;
    color: #767676;
    position: absolute;
    top: 222px;
    display: block;
    justify-content: center;
    align-items: center;
}

.signin::before {
    position: relative;
    content: '|';
    margin: 0 12px;
}

a {
    text-decoration: none;
}

a span {
    font-size: 12px;
    font-weight: 400;
    color: #767676;
}
