@import url('../font/font.css');

#app {
    width: 390px;
    margin: 0 auto;
}

.status-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 390px;
  height: 24px;
  background-color: #DBDBDB;
  padding: 0 8px 0;
}

.text-current-time{
  font-size: 12px;
  line-height: 14px;
  color:#fff;
}

.status-menu{
  display: flex;
  align-items: center;
  gap: 6px;
}

.status-menu .mobile-signal, .status-menu .wifi, .status-menu .battery{
  width: 14px;
  height: 9px;
  background-image: url(../images/Mobile_Signal.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.status-menu .wifi{
  width: 13px;
  background-image: url(../images/Wifi.png);
}

.status-menu .battery{
  width: 24px;
  height: 10px;
  background-image: url(../images/battery.png);
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 48px;
    border-bottom: 0.5px solid #DBDBDB;
}
nav .btn-back {
    background-image: url(../images/icon-arrow-left.png);
    background-size: contain;
    width: 22px;
    height: 22px;
    margin: 13px 0;
    margin-left: 16px;
}
nav .btn-upload {
    height: 32px;
    width: 90px;
    background: #F26E22;
    border-radius: 32px;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    margin: 8px 0;
    margin-right: 16px;
}
nav .btn-upload:disabled {
  background: #FFC7A7;
}

section {
    display: flex;
}
section .img-user {
    width: 42px;
    height: 42px;
    margin-top: 20px;
    margin-left: 16px;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    margin-top: 32px;
    width: 304px;
}
form textarea {
    border: none;
    resize: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    overflow-y: hidden;
}
form textarea::placeholder {
    color: #C4C4C4;
}
form textarea:focus {
    outline: none;
}
form .box-slider {
    position: relative;
}
form .img-container {
    position: absolute;
    width: 100%;
    overflow: hidden;
}
form .row {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    pointer-events: none;
}
form .row div {
    position: relative;
    margin-right: 8px;
}
form .row div .btnX {
    position: absolute;
    top: 6px;
    right: 6px;
    background-image: url('../images/icon-x.png');
    background-size: contain;
    width: 22px;
    height: 22px;
    margin-right: 0;
    cursor: pointer;
    pointer-events: all;
}
form .row div img {
    box-sizing: border-box;
    border-radius: 10px;
    border: 0.5px solid #DBDBDB;
}

form #img-upload {
    display: none;
}
form .img-upload {
    position: fixed;
    bottom: 15px;
    right: 15px;
}
form .img-upload img {
    width: 50px;
    height: 50px;
}