@import url('../font/font.css');

#app {
    width: 390px;
    margin: 0 auto;
}

.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 390px;
    height: 24px;
    background-color: #dbdbdb;
    padding: 0 8px 0;
}

.text-current-time {
    font-size: 12px;
    line-height: 14px;
    color: #fff;
}

.status-menu {
    display: flex;
    align-items: center;
    gap: 6px;
}

.status-menu .mobile-signal,
.status-menu .wifi,
.status-menu .battery {
    width: 14px;
    height: 9px;
    background-image: url(../images/Mobile_Signal.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.status-menu .wifi {
    width: 13px;
    background-image: url(../images/Wifi.png);
}

.status-menu .battery {
    width: 24px;
    height: 10px;
    background-image: url(../images/battery.png);
}

nav {
    display: flex;
    justify-content: space-between;
    height: 48px;
    border-bottom: 0.5px solid #dbdbdb;
}
nav .btn-back {
    background-image: url(../images/icon-arrow-left.png);
    background-size: contain;
    width: 22px;
    height: 22px;
    margin: 13px 0;
    margin-left: 16px;
}
nav .btn-more {
    background-image: url(../images/icon-more-vertical.png);
    background-size: contain;
    width: 24px;
    height: 24px;
    margin: 12px 0;
    margin-right: 12px;
}
main {
    margin-bottom: 75px;
}
main .cont-post {
    display: flex;
}
.cont-post .img-user {
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 12px;
}
.cont-post .img-user img {
    width: 42px;
    height: 42px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
}

main .box-post {
    position: relative;
    margin-top: 24px;
    margin-right: 16px;
}
.box-post .btn-more-mini {
    position: absolute;
    right: 0;
    background-image: url(../images/icon-more-vertical-small.png);
    background-size: contain;
    width: 18px;
    height: 18px;
}
.box-post .name-user {
    color: #000000;
    font-weight: 500;
    font-size: 14px;
}
.box-post .id-user {
    font-weight: normal;
    font-size: 12px;
    color: #767676;
    margin-top: 2px;
}
.box-post .txt-desc {
    color: #000000;
    font-weight: normal;
    font-size: 14px;
    margin-top: 16px;
    line-height: 18px;
}
.box-post .post-list-wrapper {
    position: relative;
    overflow: hidden;
    width: 304px;
}
.box-post .post-list {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: transform 0.4s;
}
.box-post .btn-slide {
    display: flex;
    position: absolute;
    width: 304px;
    margin-top: 16px;
    z-index: 10;
}
.box-post .btn-slide .prev {
    height: 228px;
    width: 50%;
}
.box-post .btn-slide .next {
    height: 228px;
    width: 50%;
}
.box-post .post-list li {
    position: relative;
}
.box-post .post-list li img {
    width: 304px;
    height: 228px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 16px;
}
.box-post .img-check {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 226px;
    width: 304px;
}
.box-post .img-check li {
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 90px;
    margin: 0 3px;
}

.box-post .icon-reaction {
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.icon-reaction img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    cursor: pointer;
}
.icon-reaction p {
    font-weight: normal;
    font-size: 12px;
    color: #767676;
    margin-right: 18.5px;
}
.box-post .date-upload {
    font-size: 10px;
    margin-top: 16px;
    color: #767676;
}

main .cont-comments {
    margin-top: 24px;
    padding-top: 20px;
    border-top: 0.5px solid #dbdbdb;
}
.cont-comments li {
    position: relative;
    display: flex;
    margin-right: 16px;
    margin-bottom: 16px;
}
li .btn-more-mini {
    position: absolute;
    right: 0;
    background-image: url(../images/icon-more-vertical.png);
    background-size: contain;
    width: 18px;
    height: 18px;
}
li .img-user-comment {
    width: 36px;
    height: 36px;
    margin-left: 16px;
}
li .box-comment {
    margin-top: 6px;
    margin-left: 12px;
}
li .box-comment .txt-comment-name-user {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}
li .box-comment .txt-comment-name-user small {
    font-weight: normal;
    font-size: 10px;
    color: #767676;
    margin-left: 6px;
}
li .box-comment .txt-comment-desc {
    font-weight: normal;
    font-size: 14px;
    color: #333333;
    margin-top: 16px;
    line-height: 18px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    /* overflow:hidden; */
    display: flex;
    align-items: center;
    border-top: 0.5px solid #dbdbdb;
    height: 61px;
    width: 390px;
}
footer img {
    width: 36px;
    height: 36px;
    margin-left: 16px;
}
footer form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
footer form input {
    border: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    margin-left: 18px;
}
footer form input:focus {
    outline: none;
}
footer form input::placeholder {
    color: #c4c4c4;
}
footer form button {
    font-weight: 500;
    font-size: 14px;
    color: #f26e22;
    margin-right: 16px;
}
footer form button:disabled {
    color: #c4c4c4;
}
