body {
    background-color: #e5e5e5;
}

#app {
    width: 390px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

/* header */
.header {
    width: 390px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 12px 0 16px;
    border-bottom: 0.5px solid #dbdbdb;
    position: fixed;
    top: 0;
    z-index: 100;
}
.link-back img {
    width: 22px;
    height: 22px;
}
.btn-profile-menu img {
    width: 24px;
    height: 24px;
}

/* main */
.main {
    min-height: 735px;
    padding-top: 48px;
}
/* profile */
.profile {
    text-align: center;
    padding: 30px 55px 26px;
    margin-bottom: 6px;
    border: 0.5px solid #dbdbdb;
    border-top: none;
    background-color: #fff;
}
.profile-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
}
.profile-img {
    width: 110px;
    height: 110px;
}

.followers {
    order: -1;
}
.followers span,
.followings span {
    display: block;
    font-size: 10px;
}
.followers .followers-num,
.followings .followings-num {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.54px;
    margin-bottom: 6px;
}
.followings-num {
    color: #767676;
}
.profile-bottom {
    margin-bottom: 24px;
}
.user-name {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 6px;
}
.user-id {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    color: #767676;
    margin-bottom: 16px;
}
.user-intro {
    line-height: 17.53px;
    color: #767676;
}
.btn-small {
    display: inline-block;
    width: 34px;
    height: 34px;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    vertical-align: middle;
}
.btn-chat {
    background-image: url(../images/icon-message-small.png);
}
.btn-share {
    background-image: url(../images/icon-share.png);
}
.btn-chat img,
.btn-share img {
    width: 20px;
    height: 20px;
}
.btn-util {
    width: 120px;
    height: 34px;
    font-weight: 500;
    border-radius: 17px;
}
.btn-follow {
    color: #fff;
    background-color: #f26e22;
    margin: 0 10px;
    transition: background-color 0.2s;
}
.btn-follow.following {
    color: #000;
    background-color: #fff;
    border: 1px solid #dbdbdb;
}
.btn-modify {
    display: inline-block;
    line-height: 32px;
    border: 1px solid #dbdbdb;
    margin-right: 12px;
}
.btn-add-product {
    display: inline-block;
    line-height: 32px;
    width: 100px;
    border: 1px solid #dbdbdb;
}

/* product */
.product {
    background-color: #fff;
    padding: 20px 0 20px 20px;
    border-top: 0.5px solid #dbdbdb;
    border-bottom: 0.5px solid #dbdbdb;
    margin-bottom: 6px;
}
.product-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 16px;
}
.product-list {
    display: flex;
    overflow: hidden;
}
.product-list li:not(:last-child) {
    margin-right: 10px;
}
.product-item {
    display: block;
    width: 140px;
}
.product-img {
    width: 140px;
    height: 90px;
    border: 0.5px solid #dbdbdb;
    border-radius: 8px;
    margin-bottom: 6px;
    object-fit: cover;
}
.product-name {
    line-height: 17.53px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
}
.product-price {
    font-size: 12px;
    font-weight: 700;
    color: #f26e22;
}

/* post */
.post {
    background-color: #fff;
    border-top: 0.5px solid #dbdbdb;
}
.post-view {
    text-align: end;
    padding: 9px 16px;
    border-bottom: 0.5px solid #dbdbdb;
}
.btn-view {
    width: 26px;
    height: 26px;
    background-size: 100%;
    vertical-align: middle;
}
.btn-list {
    background-image: url(../images/icon-post-list-off.png);
}
.btn-list.selected {
    background-image: url(../images/icon-post-list-on.png);
}
.btn-album {
    background-image: url(../images/icon-post-album-off.png);
}
.btn-album.selected {
    background-image: url(../images/icon-post-album-on.png);
}

/* post-list*/
.post-list {
    padding: 16px;
}
.post-list-item {
    display: flex;
    position: relative;
}
.post-list .post-list-item:not(:last-child) {
    margin-bottom: 16px;
}
.post-author-img {
    width: 42px;
    height: 42px;
    margin-right: 10px;
}
.post-author-info {
    width: fit-content;
    padding: 4px 0 4px 0;
    margin-bottom: 12px;
}
.post-author {
    display: block;
    font-weight: 500;
    line-height: 17.53px;
}
.post-author-id {
    font-size: 12px;
    line-height: 14px;
    color: #767676;
}
.post-text {
    line-height: 17.53px;
    margin-bottom: 16px;
    cursor: pointer;
}
.post-img {
    width: 304px;
    height: 228px;
    border: 0.5px solid #dbdbdb;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 12px;
    cursor: pointer;
}
.post-utils {
    margin-bottom: 16px;
}
.btn-like[data-hearted='false'] {
    width: 20px;
    height: 20px;
    background-image: url(../images/icon-heart.png);
    background-size: 20px;
    vertical-align: middle;
}
.btn-like[data-hearted='true'] {
    width: 20px;
    height: 20px;
    background-image: url(../images/icon-heart-fill.png);
    background-size: 20px;
    vertical-align: middle;
}
.btn-comment {
    width: 20px;
    height: 20px;
    background-image: url(../images/icon-message-small.png);
    background-size: 20px;
    vertical-align: middle;
}
.count-like,
.count-comment {
    font-size: 12px;
    line-height: 12px;
    color: #767676;
    margin-right: 16px;
}
.post-date {
    font-size: 10px;
    line-height: 12px;
    color: #767676;
}
.btn-post-menu {
    width: 18px;
    height: 18px;
    background-image: url(../images/icon-more-vertical-small.png);
    background-size: 18px;
    position: absolute;
    top: 4px;
    right: 0;
}

/* post-album */
.post-album {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 16px;
}
.post-album-item {
    display: block;
    position: relative;
    cursor: pointer;
}
.post-album-img {
    width: 114px;
    height: 114px;
    object-fit: cover;
}
.icon-multi-image {
    width: 20px;
    height: 20px;
    background-image: url(../images/icon-img-layers.png);
    background-size: 20px;
    position: absolute;
    top: 6px;
    right: 6px;
}

/* footer */
.footer {
    width: 390px;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #767676;
    background-color: #fff;
    padding: 0 6px;
    border-top: 0.5px solid #dbdbdb;
    position: sticky;
    bottom: 0;
}
.link-list {
    display: flex;
    justify-content: space-between;
}
.link-list li a {
    display: inline-block;
    width: 84px;
    height: 60px;
    padding: 11.5px;
}
.footer img {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}
.active {
    color: #f26e22;
}

.hidden {
    display: none;
}

.profile-menu-list {
    width: 390px;
    background-color: #fff;
    font-size: 14px;
    padding-bottom: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    transform: translateY(100%);
    z-index: 100;
    transition: transform 0.5s;
}
.profile-menu-list::before {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: #dbdbdb;
    border-radius: 5px;
    margin: 16px auto;
}
.profile-menu-list.on {
    transform: translateY(-100%);
}
.profile-menu-item {
    text-align: left;
    padding: 14px 26px;
}
/* .profile-menu-item button */
