body {
    background-color: #e5e5e5;
}

#app {
    width: 390px;
    margin: 0 auto;
    position: relative;
}

/* header */
.mod-header {
    height: 48px;
    padding: 13px 0 0 16px;
    background-color: #fff;
    border-bottom: .5px solid #dbdbdb;
}
.link-back img {
    width: 22px;
    height: 22px;
}

/* title */
.join-header {
    text-align: center;
    margin-bottom: 30px;
}
.join-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 12px;
}
.join-subtitle {
    line-height: 14px;
    color: #767676;
}

/* main */
.main {
    height: 772px;
    position: relative;
    background-color: #fff;
    padding: 30px 34px;
}
.userImg {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-image: url(../images/default-profile-img.png);
    background-size: 110px;
    border: 1px solid #dbdbdb;
    margin: 0 auto 30px;
    position: relative;
}
.userImg.hasImg {
    background-image: none;
}
.userImg-preview {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#input-userImg:focus + .btn-upload {
    outline: 2px solid #f26e22;
    border-radius: 3px;
    outline-offset: 3px;
}
.btn-upload {
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
}
.btn-upload img {
    width: 36px;
    height: 36px;
}
label {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: #767676;
    margin-top: 16px;
}
input[type='text'] {
    display: block;
    width: 100%;
    background-color: transparent;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    outline: none;
}
input[type='text']::placeholder {
    font-size: 14px;
    color: #dbdbdb;
}
input[type='text']:focus {
    border-bottom: 1px solid #f26e22;
}
input[type='text'].invalid {
    border-bottom: 1px solid #eb5757;
}
.msg-invalid {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    color: #eb5757;
    margin-top: 6px;
}

/* submit 버튼 */
.btn-submit {
    color: #fff;
    background-color: #f26e22;
    font-weight: 500;
    transition: background-color 0.3s;
}
.btn-submit:disabled {
    cursor: unset;
    background-color: #ffc7a7;
}
.btn-join {
    width: 322px;
    height: 44px;
    border-radius: 44px;
    margin-top: 30px;
}
.btn-save {
    width: 90px;
    height: 32px;
    border-radius: 32px;
    position: absolute;
    top: -40.5px;
    right: 16px;
}
